<form [formGroup]="form" class="h-screen mx-auto flex justify-center items-center" (submit)="submit()">
    
    <div class="flex flex-col justify-between items-center h-[500px] bg-white p-5 rounded-lg">

        <h1 class="text-3xl text-left w-full font-bold">Faça login</h1>

        <div class="flex flex-col gap-3 w-[500px]">
            <div class="flex flex-col gap-3">
                <div>
                    <input type="email" placeholder="E-mail" formControlName="email" class="w-full h-[50px] border-2 rounded-[5px] px-[15px] text-xl outline-none focus:border-neutral-400 transition-all">
                </div>
                <div>
                    <input type="password" placeholder="Senha" formControlName="senha" class="w-full h-[50px] border-2 rounded-[5px] px-[15px] text-xl outline-none focus:border-neutral-400 transition-all">
                </div>
            </div>
            <div>
                <button type="submit" class="bg-orange-500 hover:bg-orange-600 transition-all h-[40px] w-full shadow rounded-[5px] text-white text-xl">Entrar</button>
            </div>
        </div>

        <a class="underline text-orange-500 hover:text-orange-600 transition-all text-xl" routerLink="/forgotPassword">Esqueceu a senha ?</a>
        
        <a routerLink="/register" class="bg-white hover:bg-slate-100 transition-all w-full shadow rounded-[5px] text-xl flex items-center justify-center h-[40px]">Criar uma nova conta</a>

    </div>
    
</form>